.nav-link-cont {
  display: flex;
}

.nav-link {
  font-size: 12px;
  text-decoration: none;
  padding: 1em;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--font-color);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(6, 194, 88);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
