.container {
  min-height: 100%;
}

.card-container {
  padding: 2em;
  max-width: 100%;
}

.md-cont {
  padding: 2em;
  background-color: rgb(20, 20, 20);
}

:host ::ng-deep {
  * {
    font-family: 'Open Sans';
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    font-style: italic;
  }

  p {
    font-size: 18px;
  }
}
