$toc-width: 15em;

.toc-container {
  padding: 1em;
}

.toc {
  border-left: 1px solid grey;
  position: fixed;
  top: 60px;
  right: 8px;
  width: $toc-width;
}

.page-content {
  margin-right: $toc-width;
  padding-top: 3em;
  padding-left: 16em;
  padding-right: 16em;
  padding-bottom: 3em;
}

@media screen and (max-width: 1200px) {
  .toc {
    display: none;
  }

  .page-content {
    margin-right: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
}
