<mat-toolbar>
  <div class="socials" fxLayout="row" fxLayoutGap="8px">
    <a href="https://github.com/projectaki" target="_blank" rel="noopener noreferrer"
      ><div class="icon-cont github">
        <fa-icon [icon]="faGithub"></fa-icon></div
    ></a>
    <a href="https://www.linkedin.com/in/akos-madarasz-b430441a1/" target="_blank" rel="noopener noreferrer"
      ><div class="icon-cont linkedin">
        <fa-icon [icon]="faLinkedin"></fa-icon></div
    ></a>
    <a href="mailto:akiasus@outlook.com"
      ><div class="icon-cont email">
        <fa-icon [icon]="faEnvelope"></fa-icon></div
    ></a>
  </div>
  <div class="centered">{{ version }}</div>
</mat-toolbar>
