$sidenav-width: 20em;
$toc-width: 15em;
$navbar-height: 60px;

.example-container {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: calc(100% - $navbar-height);
  overflow-y: scroll;
  width: 100%;
}

.sidenav {
  width: $sidenav-width;
  height: 100%;
  position: fixed;
  border-right: 1px solid grey;
}

.sidenav-mobile {
  position: absolute;
  top: $navbar-height;
  width: 100%;
  height: 100%;
}

.toc {
  width: $toc-width;
  height: 50%;
  border-left: 1px solid grey;
  position: fixed;
  right: 0;
}

.page-content {
  margin-left: $sidenav-width;
  width: calc(100% - $toc-width - $sidenav-width);
}

@media screen and (max-width: 900px) {
  .toc {
    display: none;
  }

  .page-content {
    margin-right: 0;
    width: calc(100% - $sidenav-width);
  }
}

@media screen and (max-width: 600px) {
  .sidenav {
    display: none;
  }

  .toc {
    display: none;
  }

  .page-content {
    margin-left: 0;
    width: 100%;
  }
}
