$sidenav-width: 20em;
$navbar-height: 60px;

.example-container {
  position: absolute;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: calc(100% - $navbar-height);
  overflow-y: scroll;
  width: 100%;
}

.sidenav {
  width: $sidenav-width;
  height: 100%;
  position: fixed;
  border-right: 1px solid grey;
}

.sidenav-mobile {
  position: absolute;
  top: $navbar-height;
  width: 100%;
  height: 100%;
}

.page-content {
  margin-left: $sidenav-width;
  width: calc(100% - $sidenav-width);
}

@media screen and (max-width: 850px) {
  .sidenav {
    display: none;
  }

  .page-content {
    margin-left: 0;
    width: 100%;
  }
}
