<mat-card class="example-card">
  <mat-card-title>{{ project.title }}</mat-card-title>
  <mat-divider inset></mat-divider>
  <mat-card-content>
    <br />
    <p>{{ project.description }}</p>
    <br />
    <p>Technologies used:</p>
    <div fxLayout="row wrap">
      <div *ngFor="let tech of project.technologies">
        <img src="{{ tech.url }}" alt="{{ tech.name + ' badge' }}" />&nbsp;&nbsp;
      </div>
    </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer"
      ><button mat-raised-button color="primary">Link</button></a
    >
  </mat-card-actions>
</mat-card>
