.project-card {
  width: 220px;
  height: 220px;
  padding: 3em;
  border-radius: 30px;
  background-color: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--box-shadow);
  color: var(--font-color);
  overflow-y: hidden;
}

h1 {
  font-family: 'Segoe UI';
  font-weight: 700;
}

.project-card:hover {
  box-shadow: 0 0 1px 1px rgb(6, 194, 88) inset;
  color: var(--font-color);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 360px) {
  .project-card {
    padding: 2em;
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 360px) {
  .hide-on-small {
    display: none;
  }
}
