<div class="card">
  <p-timeline [value]="timelineItems" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="custom-marker p-shadow-2" [style.backgroundColor]="'#be145b'" [style.color]="'black'">
        <i [ngClass]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card>
        <h3>{{ event.title }}</h3>
        <h4>{{ event.date }}</h4>
        <p>
          {{ event.description }}
        </p>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
