.container {
  min-height: 100%;
}

.profile-md {
  padding: 2em;
  background-color: rgb(20, 20, 20);
}

.timeline-cont {
  padding: 2em;
}

:host ::ng-deep {
  h1 {
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 36px;
  }

  h2 {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 26px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
  }

  h3 {
    font-family: 'Segoe UI';
    font-weight: 500;
    font-size: 24px;
  }
}
