.blog-post {
  width: 50%;
  height: 20px;
  border-radius: 30px;
  background-color: var(--inline-code-bg);
  color: var(--font-color);
  border: 1px solid var(--inline-code-border);
  padding: 2em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}
