/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --bg-color: rgb(20, 20, 20);
  --font-color: rgb(255, 255, 255);
}
.lightMode {
  --bg-color: rgb(255, 255, 255);
  --font-color: rgb(20, 20, 20);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  overflow: hidden;
}

a {
  color: var(--font-color);
}

.background {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.hidden {
  display: none;
}

* {
  font-family: 'Segoe UI';
}

.toc-link {
  padding: 5px;
}

.toc-link:hover {
  color: rgb(6, 194, 88);
  cursor: pointer;
}

.code-block {
  display: inline-block;
  min-width: 230px;
  max-width: calc(100% - 2em);
}

pre {
  margin: 0 !important;
}

.active {
  color: rgb(6, 194, 88);
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  pre {
    min-width: calc(100% - 2em);
    max-width: calc(100% - 2em);
  }
}

code {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px 4px;
  font: 12px Monaco, Consolas, 'Andale  Mono', 'DejaVu Sans Mono', monospace;
  background-color: #333437;
  color: white;
}
