$radius: 300px;
$circle-size: 40px;

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $radius;
  height: $radius;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 50%;
}

.container div {
  width: $circle-size;
  height: $circle-size;
  background-color: orange;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: -($circle-size/2);
}
