$radius: 300px;
$circle-size: 40px;

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $radius;
  height: $radius;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 50%;
}

.node-wrapper {
  width: $circle-size;
  height: $circle-size;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -($circle-size/2);
}

.node {
  width: $circle-size;
  height: $circle-size;
  background-color: orange;
  border-radius: 50%;
}

@keyframes scale-down {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scale-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
