mat-toolbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.logo {
  width: 2em;
}

.logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

mat-icon {
  cursor: pointer;
}

.theme-toggle {
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 850px) {
  .nav-toggle {
    display: block;
  }
}
