.container {
  position: relative;
  min-height: 100%;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

fa-icon {
  font-size: 32px;
}

.linkedin {
  color: #0072b1;
}

.github {
  color: #6e5494;
}

.logo {
  width: 12em;
}
