<div class="logo-container">
  <img class="logo" [src]="logoUrl" alt="Main logo" />
</div>
<div class="socials" fxLayout="row" fxLayoutGap="8px">
  <a href="https://github.com/projectaki" target="_blank" rel="noopener noreferrer"
    ><img class="git-logo" src="assets/github.png" alt="Github link"
  /></a>
  <a href="https://www.linkedin.com/in/akos-madarasz-b430441a1/" target="_blank" rel="noopener noreferrer"
    ><img class="li-logo" src="assets/linkedin.png" alt="Linkedin link"
  /></a>
</div>
<div class="background"></div>
