<div class="container">
  <div class="logo-container">
    <img class="logo" [src]="logoUrl" alt="Main logo" />
  </div>
  <div class="socials" fxLayout="row" fxLayoutGap="8px">
    <a href="https://github.com/projectaki" target="_blank" rel="noopener noreferrer"
      ><fa-icon class="github" [icon]="faGithub"></fa-icon
    ></a>
    <a href="https://www.linkedin.com/in/akos-madarasz-b430441a1/" target="_blank" rel="noopener noreferrer"
      ><fa-icon class="linkedin" [icon]="faLinkedin"></fa-icon
    ></a>
  </div>
</div>
